# Copy to .env.local and fill in values
# For EAS builds, set these as EAS Secrets: eas secret:create

EXPO_PUBLIC_WEATHER_API_URL=
EXPO_PUBLIC_PROJECT_ID=
EXPO_PUBLIC_OPEN_API=
EXPO_PUBLIC_GOOGLE_KEY=
EXPO_PUBLIC_GOOGLEAUTH_IOS=
EXPO_PUBLIC_GOOGLEAUTH_ANDROID=
EXPO_PUBLIC_APIKEY=
EXPO_PUBLIC_AUTHDOMAIN=
EXPO_PUBLIC_PROJECTID=
EXPO_PUBLIC_STORAGEBUCKET=
EXPO_PUBLIC_MESSAGINGSENDERID=
EXPO_PUBLIC_APPID=
EXPO_PUBLIC_MEASUREMENTID=
EXPO_PUBLIC_REVENUECATIOS=
EXPO_PUBLIC_REVENUECATANDROID=
APP_ENV=development
APP_VARIANT=development
